node_modules
.pnp
.pnp.*
.yarn
.next
out
build
dist
.docker-data
.git
.gitignore
.github
.vscode
.idea
.idx
.modified
*.log
npm-debug.log*
yarn-debug.log*
coverage
*.test.ts
*.spec.ts
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
README.md
INSTALAR.md
docs
*.tsbuildinfo
next-env.d.ts
